.ignore
/autostart/*
/clipse/*
/clipse/clipboard_history.json
!/clipse/config.json
!/clipse/custom_theme.json
/cmus/*
/dconf/*
/discord/*
/Electron/*
/FreeTube/*
/gh/*
/go/*
/GIMP/*
/helix/runtime/*
/kitty/*
!/kitty/current-theme.conf
!/kitty/kitty.conf
/klavaro/*
/mimeapps.list
/nushell/history.txt
/privateinternetaccess/*
/pulse/*
/qutebrowser/*
!/qutebrowser/autoconfig.yml
!/qutebrowser/config.py
/Raspberry Pi/*
/simple-update-notifier/*
/vesktop/*
/wiki-tui/*
/zed/*
